input[type="radio"] {
  position: absolute;
  inset: 0;
  z-index: -1;

  + label {
    display: block;
    padding: 8px 16px;
    border: 1px solid var(--color-main);
    border-radius: 6px;

    &:hover {
      background-color: var(--color-primary-transparent);
    }
  }

  &:focus {
    + label {
      background-color: var(--color-primary-transparent);
    }
  }

  &:checked + label {
    color: var(--color-white);
    pointer-events: none;
    background: var(--color-primary);
    border-color: var(--color-primary);
  }
}

.input-wrap {
  position: relative;
}
