.input-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.weather-contents {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.weather-caption {
  margin-bottom: 10px;
}

.weather-result-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.weather-result-content {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.weather-result-main {
  font-size: 2rem;
}

.weather-result-temp-wrap {
  display: flex;
  column-gap: 20px;
  align-items: center;
  text-align: center;
}

.weather-result-temp {
  display: block;
}
